@import './mixin';

#cart-container {
	width: 100%;

	#quantity-container {
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
		button {
			@include buttonLight;
		}

		#number-input {
			text-align: center;
			border: none;
		}
	}

	#add-to-car-button {
		@include buttonStyle;
		width: 80%;
		margin-bottom: 20px;
	}

	#heart-button {
		@include buttonLight;
		font-size: 20px;
		width: 15%;
		margin-left: 10px;
	}

	#buy-now-button {
		@include buttonStyle;
		width: 100%;
		margin-bottom: 40px;
	}
}
