// Media queries for tablets
@media screen and (min-width: 767px) {
	// SUB-HEADER
	.sub-header {
		p {
			font-size: 20px;
			.hide {
				display: none;
			}
		}
	}

	//PRODUCT-CONTAINER

	#product-container-top {
		#thumbnails-container {
			.tiny-image-container {
				width: 23%;
			}

			#t-shirt-image {
				display: inline;
			}
		}

		#product-description-container {
			ul {
				#review,
				.yellow-start,
				#silver-start {
					font-size: 20px;
				}
			}

			h2 {
				font-size: 40px;
				margin-top: 25px;
				margin-bottom: 25px;
			}

			.gray-light {
				font-size: 20px;
				margin-bottom: 25px;
			}

			p {
				margin-top: 25px;
				margin-bottom: 25px;
			}

			#price {
				font-size: 30px;
			}

			#description {
				font-size: 20px;
			}
		}
	}
}
