html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Roboto';
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.nav-list-left {
  width: 400px;
}

header {
  padding: 25px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 580px !important;
}

.nav-left .logo-header {
  width: 100px;
}

.nav-left .logo-header img {
  width: 70px;
  height: auto;
}

.nav-left nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.nav-left nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-left nav ul a {
  padding: 15px 15px;
  width: 30px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-left nav ul a:hover {
  font-size: 16px;
  border-bottom: 1px solid black;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px !important;
}

.nav-right :focus {
  outline: none;
}

.nav-right .search-bar {
  border-radius: 50px;
  border: none;
  height: 30px;
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  position: relative;
}

.nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
}

.nav-right ul li {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3 ease-in-out !important;
  transition: all 0.3 ease-in-out !important;
}

.nav-right ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-right img {
  padding: 5px 5px;
  margin: 0 5px;
}

.search-bar:after {
  display: block;
  content: url("../../assets/img/imgIcons/loupe.png");
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 4px;
  left: 200px;
}

#card-svg:after {
  content: ' ';
  background-image: url("../../assets/img/imgIcons/2.svg");
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0;
  width: 12px;
  height: 12px !important;
}

.li-element {
  display: none !important;
}

@media screen and (max-width: 1460px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.425);
  }
}

@media screen and (max-width: 1178px) {
  .search-bar {
    display: none;
  }
  .nav-right {
    width: 250px !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: -20px;
  }
  .li-element {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header {
    padding: 25px 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
  }
  .nav-left {
    width: 100px !important;
  }
  .nav-ul-left {
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 780px) {
  .nav-li-left {
    display: none;
  }
}

@media screen and (max-width: 484px) {
  header {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 50px !important;
    z-index: 10;
  }
  .nav-right {
    width: 200px !important;
    margin-right: 10px;
  }
  .nav-right li {
    height: 30px;
  }
  .card-svg:after {
    right: 16px;
    width: 12px;
    height: 12px;
    bottom: 35px;
  }
}

@media screen and (max-width: 400px) {
  .row-navbar {
    padding: 5px 10px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/Roboto/Roboto-Regular.ttf");
}

.container-footer {
  height: 270px;
  width: 100%;
  padding: 0 !important;
}

.container-footer .content-footer {
  width: 70%;
  height: auto;
  padding: 0 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-footer .content-footer .container-ul-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.container-footer .content-footer .container-ul-footer h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 40px;
}

.container-footer .content-footer .container-ul-footer .footer-list {
  padding: 0;
}

.container-footer .content-footer .container-ul-footer .footer-list li {
  line-height: 180%;
}

.container-footer .content-footer .container-ul-footer .footer-list li a {
  color: #959595;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #959595 !important;
  font-weight: 500;
}

.line-footer {
  border-top: 1px solid #95959573;
  height: 70px;
}

.line-footer .grey-text {
  color: #959595;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
}

.line-footer .supro {
  color: #000;
  font-weight: bold;
}

.line-footer .content-line {
  width: 70%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-footer .content-line .line-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .content-footer {
    width: 100% !important;
  }
  .content-footer h4 {
    margin-bottom: 20px !important;
  }
  .content-line {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-left: 20px !important;
  }
  .content-line .line-right {
    padding-left: 13px !important;
  }
  .container-ul-footer:nth-child(5) {
    display: none !important;
  }
}

html {
  overflow-x: hidden;
}

body {
  padding: 0 1rem;
}

p {
  font-family: "Roboto";
}

.about {
  margin-left: 2rem;
  margin-top: 2rem;
}

.smilet {
  margin-top: 4rem;
}

.supro {
  margin-top: 2rem;
}

.supro h4 h2 {
  margin-top: 2rem;
}

.supro text {
  margin-top: 4rem;
}

.img {
  margin-left: 160px;
}

.title {
  color: #000;
}

.subtitle {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
}

.italic {
  font-family: "Roboto";
  font-size: 20px;
  color: #000;
  font-style: italic;
  text-align: justify;
}

.name {
  font-size: 20px;
}

.normalfont {
  font-family: "Roboto";
  font-size: 20px;
  color: #000;
  text-align: justify;
  font-size: 30px;
  text-align: justify;
}

.greyfontn {
  color: grey;
  font-size: large;
  font-family: "Roboto";
}

.text-align {
  margin-left: 2rem;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ind {
  font-weight: bolder;
  color: #000;
  font-size: 30px;
  font-style: italic;
}

.cr {
  margin-top: 3rem;
}

h5 {
  color: #f78773;
}

h1 {
  color: #f78773;
}

.luxury {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
}

.text {
  color: grey;
  font-size: large;
  font-family: "Roboto";
}

.from {
  margin-top: 2rem;
}

.big {
  margin-top: 6rem;
}

.bs {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
}

.bt p {
  color: grey;
}

.dates .dts {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
  margin-top: 2rem;
}

.ics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icsupper,
.icslower {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.icons p {
  font-weight: bold;
}

.leadership {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.mmb {
  margin-left: 4%;
}

.flexi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands .flexi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.picture {
  width: 48%;
  text-align: center;
}

.picture img {
  width: 100%;
}

.imgsize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imgsize img {
  width: 33%;
  padding-right: 30px;
}

.imgsize img:nth-child(3n) {
  padding-right: 0;
}

.pict {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .left_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .smilet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .divdates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dates {
    width: 50%;
  }
  .divdates :nth-child(2n) {
    padding-right: 40px;
  }
  .picture {
    width: 33%;
  }
  .imgsize img {
    width: 16%;
  }
}

.reverse {
  margin-top: 4rem;
}

@media only screen and (min-width: 992px) {
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .biggie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ics .icsupper,
  .ics .icslower {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .division {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .division p {
    width: 50%;
    padding-right: 40px;
  }
}

.wkhd {
  padding-right: 40px;
}

.icslower {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icsupper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.darkh {
  padding-left: 7px;
}
/*# sourceMappingURL=about.css.map */