html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../assets/Roboto/Roboto-Regular.ttf");
}

body {
  font-family: "Roboto" !important;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.nav-list-left {
  width: 400px;
}

header {
  padding: 25px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 580px !important;
}

.nav-left .logo-header {
  width: 100px;
}

.nav-left .logo-header img {
  width: 70px;
  height: auto;
}

.nav-left nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.nav-left nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0;
  margin-left: -30px;
  padding: 0;
}

.nav-left nav ul li {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
}

.nav-left nav ul #link-nav {
  height: auto;
  width: auto;
  padding: 10px !important;
  position: relative !important;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav-left nav ul #link-nav:before {
  content: "";
  position: absolute !important;
  width: 100% !important;
  height: 2px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: rgba(112, 112, 112, 0.521) !important;
  visibility: hidden !important;
  -webkit-transform: scaleX(0) !important;
          transform: scaleX(0) !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.nav-left nav ul #link-nav:hover:before {
  visibility: visible !important;
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 480px !important;
}

.nav-right :focus {
  outline: none;
}

.nav-right .search-bar {
  border-radius: 50px;
  border: none;
  height: 30px;
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  position: relative;
}

.nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
}

.nav-right ul li {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.nav-right ul li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.nav-right img {
  padding: 5px 5px;
  margin: 0 5px;
}

.search-bar:after {
  display: block;
  content: url("../../assets/img/imgIcons/loupe.png");
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 4px;
  left: 200px;
}

#card-svg:after {
  content: ' ';
  background-image: url("../../assets/img/imgIcons/2.svg");
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0;
  width: 12px;
  height: 12px !important;
}

.li-element {
  display: none !important;
}

@media screen and (max-width: 1460px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.425);
  }
}

@media screen and (max-width: 1178px) {
  .search-bar {
    display: none;
  }
  .nav-right {
    width: 250px !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: -20px;
  }
  .li-element {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header {
    padding: 25px 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
  }
  .nav-left {
    width: 100px !important;
  }
  .nav-ul-left {
    margin-left: 100px !important;
  }
}

@media screen and (max-width: 800px) {
  .nav-li-left {
    display: none !important;
  }
}

@media screen and (max-width: 484px) {
  .container-fluid {
    padding: 0 !important;
  }
  header {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 50px !important;
    z-index: 10 !important;
  }
  .nav-right {
    width: 200px !important;
    margin-right: 10px;
  }
  .nav-right li {
    height: 30px;
  }
  .card-svg:after {
    right: 16px;
    width: 12px;
    height: 12px;
    bottom: 35px;
  }
}

@media screen and (max-width: 400px) {
  .row-navbar {
    padding: 5px 10px;
  }
}

.container-footer {
  height: auto;
  width: 100%;
  padding: 0 !important;
}

.container-footer .content-footer {
  width: 70%;
  height: auto;
  padding: 0 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-footer .content-footer .container-ul-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.container-footer .content-footer .container-ul-footer h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 40px;
}

.container-footer .content-footer .container-ul-footer .footer-list {
  padding: 0;
}

.container-footer .content-footer .container-ul-footer .footer-list li {
  line-height: 180%;
}

.container-footer .content-footer .container-ul-footer .footer-list li a {
  color: #959595 !important;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: #959595 !important;
  font-weight: 500;
}

.line-footer {
  border-top: 1px solid #95959573;
  height: 70px;
}

.line-footer .grey-text {
  color: #959595 !important;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  font-weight: 500;
}

.line-footer .supro {
  color: #000;
  font-weight: bold;
  margin-right: 10px;
}

.line-footer .content-line {
  width: 70%;
  height: 100%;
  padding: 0 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-footer .content-line .line-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .line-footer {
    width: 100%;
    height: 100px !important;
  }
  .container-ul-footer {
    width: 50% !important;
    padding: 0 !important;
  }
  .content-footer {
    width: 100% !important;
  }
  .content-footer h4 {
    margin-bottom: 20px !important;
  }
  .content-line {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    padding-left: 20px !important;
  }
  .content-line .line-right {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .content-line .line-right p {
    margin-right: 30px;
  }
  .container-ul-footer:nth-child(5) {
    display: none !important;
  }
  .line-footer {
    height: 100px !important;
  }
  .line-left {
    width: 100% !important;
  }
  .line-left p {
    margin-right: 30px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 80%;
  padding-top: 100px;
}

input[type='checkbox'] {
  outline: 1px solid #bdb4b4;
  opacity: 0.2;
}

#checked {
  opacity: 1;
}

#sidebar {
  text-align: left;
  width: 30%;
}

#sidebar h2 {
  letter-spacing: 3px;
}

#sidebar #filter-price p {
  text-align: left;
}

#sidebar #filter-price .slider {
  -webkit-appearance: none;
  background-color: #f68773;
  height: 10px;
  width: 88%;
}

#sidebar #filter-price .slider:focus {
  outline: none;
}

#sidebar #filter-price .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
}

#sidebar #active-filters {
  margin-bottom: 25px;
}

#sidebar #active-filters ul {
  margin: auto;
  text-align: left;
  list-style-image: url("../../assets/img/imgShop/x.png");
}

#sidebar #active-filters ul li {
  padding: 10px;
}

#sidebar #categories {
  margin-bottom: 20px;
}

#sidebar hr {
  background-color: red;
  height: 5px;
  width: 50%;
}

#sidebar h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}

#sidebar #checkboxes {
  margin-top: 25px;
}

#sidebar #checkboxes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: square;
}

#sidebar #checkboxes ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 15px;
}

#sidebar #checkboxes ul li #point-black {
  color: black;
}

#sidebar #checkboxes ul li #point-blue {
  color: #70849d;
}

#sidebar #checkboxes ul li #point-gold {
  color: #cc9a2e;
}

#sidebar #checkboxes ul li #point-nude {
  color: #cfa58f;
}

#sidebar #checkboxes ul li #point-orange {
  color: #cc682d;
}

#sidebar #checkboxes ul li #point-red {
  color: #99231e;
}

#sidebar #products-container {
  padding-top: 20px;
  padding-bottom: 40px;
}

#sidebar #products-container .thumbnail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#sidebar #products-container .thumbnail-container img {
  width: 35%;
  padding: 5px;
}

#sidebar #products-container .thumbnail-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: left;
  padding-left: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

#sidebar #products-container .thumbnail-description-container p {
  font-size: 13px;
}

#sidebar #products-container .thumbnail-description-container ul {
  list-style: none;
  margin: 0px;
}

#sidebar #products-container .thumbnail-description-container ul li {
  display: inline;
  color: #f68773;
}

.list {
  list-style: none;
  text-align: left;
}

.list li {
  padding: 10px;
}

#shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

#shop h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  padding: 75px;
}

#shop-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 45px;
}

#shop-header ul {
  list-style: none;
  padding-top: 5px;
}

#shop-header ul li {
  display: inline;
  font-weight: bold;
  margin-left: 25px;
}

#shop-header ul i {
  margin-left: 5px;
}

#shop-title h1 {
  font-size: 50px;
  font-weight: bolder;
}

#shop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shop-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#hidden-li {
  visibility: hidden;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.image-container h3,
.image-container p {
  margin-top: 15px;
}

.image-container h3 small,
.image-container p small {
  color: #bdb4b4;
}

.image-container ul {
  list-style: none;
  margin-top: 15px;
}

.image-container ul li {
  display: inline;
  color: #f68773;
}

.gray-text {
  color: #a59f9f;
  font-weight: lighter;
}

.gray-star {
  color: #a59f9f;
  font-weight: lighter;
}

@media only screen and (max-width: 769px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 50px;
    margin: auto;
  }
  #sidebar {
    text-align: left;
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 30px;
    font-size: 20px;
  }
  #sidebar h2 {
    margin-bottom: 15px;
    font-size: 25px;
  }
  #sidebar #active-filters ul {
    margin-left: 20px;
  }
  #sidebar #active-filters,
  #sidebar #categories,
  #sidebar #filter-price,
  #sidebar #checkboxes {
    padding-bottom: 20px;
  }
  #sidebar #products-container {
    padding-bottom: 150px;
  }
  #sidebar #products-container .thumbnail-container h3 {
    font-size: 20px;
  }
  #sidebar #products-container .thumbnail-container p {
    font-size: 17px;
  }
  #sidebar #products-container .thumbnail-container img {
    width: 28%;
  }
  #shop {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0px;
    font-size: 17px;
  }
  #shop #shop-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }
  #shop #shop-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  #shop #shop-header ul li {
    margin-left: 0px;
  }
  #shop #shop-header .hidden {
    display: none;
  }
  #shop #shop-header #hidden-li {
    visibility: visible;
  }
  #shop #shop-header #shop-title {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  #shop #shop-header #shop-list #sort-by {
    display: inline;
    margin-left: 180px;
  }
  #shop #shop-header #shop-list #default {
    display: inline;
  }
  #shop #shop-body .image-container {
    padding-bottom: 15px;
  }
  #shop #shop-body h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 377px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 50px;
  }
  #checkboxes,
  #filter-price,
  #categories,
  #active-filters,
  #shop-list,
  #shop-title {
    font-size: 18px;
    padding-bottom: 40px;
    padding-bottom: 20px;
  }
  #sidebar {
    text-align: left;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 10px;
    padding-right: 5px;
  }
  #sidebar #active-filters ul {
    padding-left: opx;
  }
  #sidebar h2 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  #sidebar #filter-price .slider {
    width: 80%;
  }
  #sidebar #products-container .thumbnail-description-container h3 {
    font-size: 17px;
    font-weight: bolder;
  }
  #sidebar #products-container .thumbnail-description-container .gray-text {
    font-size: 15px;
  }
  #shop {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0px;
  }
  #shop #shop-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #shop #shop-header #shop-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
  }
  #shop #shop-header #shop-list #sort-by,
  #shop #shop-header #shop-list #default {
    display: none;
  }
  #shop #shop-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  #shop #shop-header ul li {
    margin-left: 0px;
  }
  #shop #shop-header .hidden {
    display: none;
  }
  #shop #shop-header #hidden-li {
    visibility: visible;
  }
  #shop #shop-header #shop-title {
    margin-left: 5px;
    margin-right: 5px;
  }
  .image-container {
    width: 50%;
  }
  #products-container .thumbnail-description-container h3 {
    font-size: 100px;
    font-weight: bolder;
  }
  #products-container .thumbnail-description-container .gray-text {
    font-size: 10px;
  }
}
/*# sourceMappingURL=shop.css.map */