html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

@font-face {
  font-family: 'Roboto';
  src: url("/assets/Roboto/Roboto-Regular.ttf"); }

body {
  font-family: 'Roboto';
  overflow-x: hidden; }

a {
  text-decoration: none !important;
  color: #000 !important; }

header {
  padding: 25px 50px;
  justify-content: space-between; }

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px !important; }
  .nav-left .logo-header {
    width: 100px; }
    .nav-left .logo-header img {
      width: 70px;
      height: auto; }
  .nav-left nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px; }
    .nav-left nav ul {
      display: flex;
      width: auto;
      margin: 0;
      padding: 0; }
      .nav-left nav ul a {
        margin: 0 5px;
        padding: 5px 10px;
        font-size: 13px; }

.nav-li-left a:hover {
  border-bottom: 1px solid #000; }

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px !important; }
  .nav-right :focus {
    outline: none; }
  .nav-right .search-bar {
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 200px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    position: relative; }
  .nav-right ul {
    display: flex;
    width: auto;
    margin: 0;
    padding: 0; }
    .nav-right ul img {
      padding: 5px 5px;
      margin: 0 5px; }

.search-bar:after {
  display: block;
  content: url("../../assets/img/imgIcons/loupe.png");
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 4px;
  left: 190px; }

.card-svg:after {
  content: " ";
  background-image: url("../../assets/img/imgIcons/2.svg");
  background-size: cover;
  position: relative;
  display: inline-block;
  right: 56px;
  bottom: 7px;
  width: 12px;
  height: 12px; }

.li-element {
  display: none; }

@media screen and (max-width: 1460px) {
  header {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.425); }
    header input {
      border: 1px solid black !important; } }

@media screen and (max-width: 1178px) {
  .search-bar {
    display: none; }
  .nav-right {
    width: 250px !important;
    justify-content: flex-end;
    margin-right: -20px; }
  .li-element {
    display: block; }
  header {
    padding: 25px 25px;
    justify-content: space-between;
    background-color: #fff; }
  .nav-left {
    width: 100px !important; } }

@media screen and (max-width: 780px) {
  .nav-li-left {
    display: none; } }

@media screen and (max-width: 484px) {
  header {
    position: fixed !important;
    width: 100% !important;
    z-index: 10; }
  .nav-right {
    width: 200px !important; }
    .nav-right li {
      height: 30px; }
  .card-svg:after {
    right: 16px;
    width: 12px;
    height: 12px;
    bottom: 35px; } }

@media screen and (max-width: 400px) {
  .row {
    padding: 5px 10px; } }

.left-banner {
  height: 525px !important;
  display: flex;
  align-items: center;
  padding: 20px 50px 20px 50px !important; }
  .left-banner .circle-ul {
    display: none !important; }
  .left-banner ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 12px 5px 12px; }
    .left-banner ul .logo-google {
      width: 18px; }
    .left-banner ul li a {
      padding: 5px !important;
      height: 30px !important;
      width: 30px !important;
      display: flex;
      align-items: center;
      justify-content: center; }

.fa-twitter,
.fa-facebook-f,
.fa-google-plus-g,
.fa-pinterest {
  color: #959595 !important;
  padding: 10px !important;
  transition: color 0.3s !important; }

.fa-twitter:hover,
.fa-facebook-f:hover,
.fa-google-plus-g:hover,
.fa-pinterest:hover {
  color: #000 !important; }

.fa-google-plus-g {
  position: relative;
  left: 3px; }

@media screen and (max-width: 1178px) {
  .left-banner {
    padding: 20px 27px 20px 27px !important; } }

@media screen and (max-width: 550px) {
  .sidebar-ul {
    flex-direction: row !important;
    height: 40px !important; }
  .left-banner {
    height: 80px !important;
    width: 300px !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 0; }
    .left-banner .circle-ul {
      display: flex !important;
      flex-direction: row !important;
      width: 100px !important;
      height: auto !important;
      color: black !important;
      font-size: 12px !important; }
    .left-banner li a {
      padding: 10px !important;
      margin: 5px !important; }
  .fa-twitter,
  .fa-facebook-f,
  .fa-google-plus-g,
  .fa-pinterest {
    color: #fff !important; } }

.banner-home {
  background: url("../../assets/img/imgHomePage/sl3-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom 0;
  width: auto;
  height: 700px;
  position: relative;
  color: black; }

.content-banner {
  height: 525px !important;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .content-banner h1 {
    font-size: 90px;
    width: 420px;
    height: auto;
    text-align: center; }
  .content-banner a {
    color: #000 !important;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    font-size: 14px;
    color: #fff !important;
    border-color: #fff;
    margin-top: 30px; }

.right-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 50px 20px 50px !important; }
  .right-banner a:hover {
    color: #000 !important; }
  .right-banner ul {
    padding: 5px 20px 5px 12px; }
    .right-banner ul li {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 10px;
      justify-content: flex-end; }
      .right-banner ul li .active {
        color: #000 !important; }
      .right-banner ul li a {
        color: #959595 !important;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: 0.3s !important; }
      .right-banner ul li p {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
        text-align: end; }
      .right-banner ul li h3 {
        font-size: 20px;
        text-align: end; }
      .right-banner ul li hr {
        width: 25px; }

.footer-banner p {
  margin: 0;
  color: #959595;
  font-size: 12px;
  margin-top: 25px; }

.p-banner {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  font-size: 14px; }

.footer-banner-1 {
  background: url("../../assets/img/imgHomePage/banner_h1_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 0;
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer-banner-1 h2 {
    width: 200px; }

.footer-banner-2 {
  background: url("../../assets/img/imgHomePage/banner_h1_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 0;
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer-banner-2 h2 {
    width: 200px; }

.footer-banner-3 {
  background: url("../../assets/img/imgHomePage/banner_h1_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 0;
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .footer-banner-3 h2 {
    width: 200px; }

#banner-text-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  padding: 10px 30px 10px 30px;
  align-items: flex-end; }
  #banner-text-left h2 {
    width: 200px; }
  #banner-text-left h2 {
    font-size: 30px;
    text-align: end; }

#banner-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  padding: 10px 30px 10px 30px;
  align-items: center;
  color: white; }
  #banner-text-middle h2 {
    width: 200px; }
  #banner-text-middle p {
    color: #fff !important;
    border-color: #fff; }
  #banner-text-middle h2 {
    text-align: center;
    font-size: 30px; }

#banner-text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  align-items: flex-end;
  padding: 10px 30px 10px 30px; }
  #banner-text-right h2 {
    width: 200px; }
  #banner-text-right h2 {
    text-align: end;
    font-size: 30px; }
    #banner-text-right h2 hr {
      display: none; }

.title-section {
  height: 150px;
  display: flex;
  align-items: flex-end;
  width: 100% !important; }
  .title-section .row-title {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto; }
  .title-section h2 {
    font-size: 30px;
    margin: 0;
    width: max-content; }
  .title-section p {
    color: #959595;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    width: max-content; }

.row-first-section {
  display: flex !important;
  justify-content: space-between !important;
  width: 100%;
  height: max-content;
  margin: 50px 0 50px 0 !important; }

.first-section {
  width: 70% !important;
  height: max-content;
  display: flex !important; }
  .first-section .small-img-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    height: max-content; }
    .first-section .small-img-first h4 {
      width: min-content; }
    .first-section .small-img-first img {
      height: 200px;
      width: auto; }
    .first-section .small-img-first .text-small-img {
      position: relative;
      bottom: 20px;
      left: 20px;
      width: max-content; }
      .first-section .small-img-first .text-small-img p {
        margin-top: 20px !important;
        color: #959595;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        width: max-content; }
  .first-section .big-img-first {
    height: max-content;
    width: max-content;
    position: relative;
    bottom: 60px;
    margin-left: 80px; }
    .first-section .big-img-first img {
      width: 330px;
      height: auto; }
    .first-section .big-img-first .text-big-img {
      position: absolute;
      top: 30px;
      left: -90px; }
      .first-section .big-img-first .text-big-img h4 {
        width: min-content;
        font-size: 40px; }
      .first-section .big-img-first .text-big-img p {
        color: #959595;
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        width: max-content;
        margin-top: 20px !important; }

.shop-container {
  width: 70% !important;
  margin-top: 50px; }
  .shop-container .shop-title-1 h2 {
    font-size: 30px; }
  .shop-container .shop-title-1 p {
    color: #959595;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    width: max-content; }
  .shop-container .shop-title-2 {
    display: flex;
    position: relative;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 450px; }
    .shop-container .shop-title-2 a {
      color: #959595;
      font-size: 12px;
      font-weight: 500;
      margin: 0;
      width: max-content;
      color: #959595 !important;
      font-size: 14px !important;
      transition: color .3s;
      width: 100%; }
    .shop-container .shop-title-2 a:hover {
      color: black !important; }
    .shop-container .shop-title-2 .active {
      color: black !important; }
    .shop-container .shop-title-2 ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0; }

@media screen and (max-width: 990px) {
  .text-small-img {
    bottom: 0 !important;
    left: 0 !important; }
  .first-section,
  .title-section,
  .row-title {
    width: 95% !important;
    margin-bottom: 50px; }
  .row-title {
    margin: 0 !important; }
    .row-title h2,
    .row-title p {
      padding: 0; }
  .line-banner {
    display: block !important;
    position: absolute;
    background-color: white;
    height: 12px;
    width: 100%;
    right: 0;
    margin: 0 !important;
    padding: 0 !important;
    top: 600px; }
  .line-banner-footer {
    display: block !important;
    position: absolute;
    background-color: white;
    height: 12px;
    width: 100%;
    right: 0;
    margin: 0 !important;
    padding: 0 !important; }
  .row-first-section {
    flex-direction: column !important;
    align-items: flex-start !important; }
  .big-img-first {
    width: 100% !important;
    right: 0 !important;
    margin-left: 15px !important;
    margin-top: 50px !important;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse; }
  .text-big-img {
    position: relative !important;
    bottom: 0% !important;
    left: 0 !important; }
  #row-first-section .big-img-first {
    flex-direction: row !important; }
  #row-first-section .small-img-first {
    flex-direction: column-reverse !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    width: 100% !important;
    height: max-content !important;
    position: relative;
    bottom: 80px; }
    #row-first-section .small-img-first .text-small-img {
      bottom: 15px !important; }
    #row-first-section .small-img-first img {
      height: auto !important;
      width: 200px !important; } }

@media screen and (max-width: 780px) {
  .banner-home {
    background: url("../../assets/img/imgHomePage/sl3-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 20px;
    width: auto;
    height: 600px;
    position: relative; }
  .right-banner {
    display: none !important; }
  .line-banner {
    top: 500px; } }

@media screen and (max-width: 585px) {
  .banner-home {
    background: url("../../assets/img/imgHomePage/sl3-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 20px;
    width: auto;
    height: 500px !important;
    position: relative; }
  .banner-row {
    display: flex !important;
    flex-wrap: wrap-reverse !important;
    align-items: center;
    height: 420px !important; }
    .banner-row h1 {
      width: 300px;
      font-size: 50px; }
  .content-middle {
    height: 250px !important;
    width: auto !important;
    margin: auto;
    margin-bottom: 20px !important;
    display: flex;
    justify-content: flex-end; }
    .content-middle .content-banner {
      display: flex;
      height: 280px !important;
      width: auto !important; }
  .right-banner {
    display: none !important; }
  .line-banner,
  .line-banner-footer {
    display: none !important; }
  .footer-banner,
  .footer-image {
    padding: 0 !important;
    margin: 0 !important; }
  #banner-text-left {
    align-items: flex-start !important; }
    #banner-text-left h2 {
      text-align: start; }
  .footer-banner h2 {
    margin-top: 10px; }
  .title-section {
    margin: 0;
    margin-left: 20px; }
  .small-img-first {
    padding: 0 !important; }
    .small-img-first h4 {
      width: 150px !important;
      margin-top: 20px !important;
      font-size: 24px; }
  .big-img-first {
    flex-direction: column !important;
    bottom: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 40px !important; }
    .big-img-first img {
      width: 250px !important;
      height: auto !important; }
    .big-img-first h4 {
      font-size: 24px !important;
      width: max-content !important; }
  .first-section {
    margin-bottom: 0 !important; }
  #first-section {
    height: auto !important; }
    #first-section .row-first-section {
      margin-top: 0 !important; }
      #first-section .row-first-section .big-img-first {
        flex-direction: column !important;
        margin-top: 0 !important;
        height: max-content !important; }
        #first-section .row-first-section .big-img-first .text-big-img {
          font-size: 16px !important; }
      #first-section .row-first-section .small-img-first {
        flex-direction: column !important;
        align-items: flex-start !important;
        height: max-content !important;
        position: static !important;
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 60px !important; }
        #first-section .row-first-section .small-img-first .text-small-img {
          position: static !important; }
          #first-section .row-first-section .small-img-first .text-small-img h4 {
            font-size: 24px !important;
            width: 170px !important; } }

/*# sourceMappingURL=style.css.map */