.images-footer{
    height: 180px!important;
    width:100%!important;
    margin:0!important;
    padding:0!important;


}

.row-images-footer {

    height:auto!important;
    width:auto!important;
    margin-top: 20px!important;
}


