body {
  font-family: 'Roboto';
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.nav-list-left {
  width: 400px;
}

header {
  padding: 25px 50px;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px !important;
}

.nav-left .logo-header {
  width: 100px;
}

.nav-left .logo-header img {
  width: 70px;
  height: auto;
}

.nav-left nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.nav-left nav ul {
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-left nav ul a {
  padding: 15px 15px;
  width: 30px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.nav-left nav ul a:hover {
  font-size: 16px;
  border-bottom: 1px solid #000;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px !important;
}

.nav-right :focus {
  outline: none;
}

.nav-right .search-bar {
  border-radius: 50px;
  border: none;
  height: 30px;
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  position: relative;
}

.nav-right ul {
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
}

.nav-right ul img {
  padding: 5px 5px;
  margin: 0 5px;
}

.search-bar:after {
  display: block;
  content: url("../../assets/img/imgIcons/loupe.png");
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 4px;
  left: 200px;
}

.card-svg:after {
  content: ' ';
  background-image: url("../../assets/img/imgIcons/2.svg");
  background-size: cover;
  position: relative;
  display: inline-block;
  right: 56px;
  bottom: 7px;
  width: 12px;
  height: 12px;
}

.li-element {
  display: none;
}

@media screen and (max-width: 1460px) {
  header {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.425);
  }
}

@media screen and (max-width: 1178px) {
  .search-bar {
    display: none;
  }
  .nav-right {
    width: 250px !important;
    justify-content: flex-end;
    margin-right: -20px;
  }
  .li-element {
    display: block;
  }
  header {
    padding: 25px 25px;
    justify-content: space-between;
    background-color: #fff;
  }
  .nav-left {
    width: 100px !important;
  }
  .nav-ul-left {
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 780px) {
  .nav-li-left {
    display: none;
  }
}

@media screen and (max-width: 484px) {
  header {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 50px !important;
    z-index: 10;
  }
  .nav-right {
    width: 200px !important;
    margin-right: 10px;
  }
  .nav-right li {
    height: 30px;
  }
  .card-svg:after {
    right: 16px;
    width: 12px;
    height: 12px;
    bottom: 35px;
  }
}

@media screen and (max-width: 400px) {
  .row {
    padding: 5px 10px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url("/assets/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("/assets/Roboto/Roboto-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  padding: 0 1rem;
}

p {
  font-family: "Roboto";
}

.about {
  margin-left: 2rem;
  margin-top: 2rem;
}

.smilet {
  margin-top: 4rem;
}

.supro {
  margin-top: 2rem;
}

.supro h4 h2 {
  margin-top: 2rem;
}

.supro text {
  margin-top: 4rem;
}

.img {
  margin-left: 160px;
}

.title {
  color: #000;
}

.subtitle {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
}

.italic {
  font-family: "Roboto";
  font-size: 20px;
  color: #000;
  font-style: italic;
  text-align: justify;
}

.name {
  font-size: 20px;
}

.normalfont {
  font-family: "Roboto";
  font-size: 20px;
  color: #000;
  text-align: justify;
  font-size: 30px;
  text-align: justify;
}

.greyfontn {
  color: grey;
  font-size: large;
  font-family: "Roboto";
}

.text-align {
  margin-left: 2rem;
}

.image {
  display: flex;
}

.ind {
  font-weight: bolder;
  color: #000;
  font-size: 30px;
  font-style: italic;
}

.cr {
  margin-top: 3rem;
}

h5 {
  color: #f78773;
}

h1 {
  color: #f78773;
}

.luxury {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
}

.text {
  color: grey;
  font-size: large;
  font-family: "Roboto";
}

.from {
  margin-top: 2rem;
}

.big {
  margin-top: 6rem;
}

.bs {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
}

.bt p {
  color: grey;
}

.dates .dts {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
  text-align: justify;
  margin-top: 2rem;
}

.ics {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icons {
  display: flex;
}

.icsupper, .icslower {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.icons p {
  font-weight: bold;
}

.leadership {
  justify-content: center;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.mmb {
  margin-left: 4%;
}

.flexi {
  display: flex;
  justify-content: center;
}

.brands .flexi {
  display: flex;
}

.info {
  display: flex;
  justify-content: center;
}

.team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.picture {
  width: 48%;
  text-align: center;
}

.picture img {
  width: 100%;
}

.imgsize {
  display: flex;
  flex-wrap: wrap;
}

.imgsize img {
  width: 33%;
  padding-right: 30px;
}

.imgsize img:nth-child(3n) {
  padding-right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
}

.left_footer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .left_footer {
    flex-direction: row;
  }
  .smilet {
    display: flex;
  }
  .divdates {
    display: flex;
    flex-wrap: wrap;
  }
  .dates {
    width: 50%;
  }
  .divdates :nth-child(2n) {
    padding-right: 40px;
  }
  .picture {
    width: 33%;
  }
  .imgsize img {
    width: 16%;
  }
}

.reverse {
  margin-top: 4rem;
}

@media only screen and (min-width: 992px) {
  .reverse {
    flex-direction: row-reverse;
    display: flex;
  }
  .biggie {
    display: flex;
  }
  .ics .icsupper, .ics .icslower {
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
  }
  .division {
    display: flex;
  }
  .division p {
    width: 50%;
    padding-right: 40px;
  }
}

.wkhd {
  padding-right: 40px;
}

.icslower {
  flex-direction: column;
}

.icsupper {
  flex-direction: column;
}

.darkh {
  padding-left: 7px;
}
