@import "_navbar.scss";
@import "_sidebar.scss";;
@import "_mixins.scss";
@import "_var.scss";


.banner-home {
    background: url("../../assets/img/imgHomePage/sl3-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom 0;
        width: auto;
        height: 700px;
        position: relative;
        color: black;
}

.content-banner {
    height: 525px!important;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    h1 {
        font-size: 90px;
        width: 420px;
        height: auto;
        text-align: center;
    }

    a {
        @include text-underline;
        color:#fff!important;
        border-color: #fff;
        margin-top: 30px;
    }
}

.right-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding:20px 50px 20px 50px!important;

    a:hover {
        color: #000!important;
    }

    ul {
        padding: 5px 20px 5px 12px;

        li {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 10px;
            justify-content: flex-end;
            
            .active {
                color: #000!important;
            }
            
            
            a {
                color: #959595!important;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                transition: .3s!important;
            }

            p{
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 500;
                text-align: end;
            }

            h3{
                font-size: 20px;
                text-align: end;
            }

            hr {
                width: 25px;
            }
        }
    }
}
.footer-banner p {
    margin:0;
    color: $grey-color;
    font-size: 12px;
    margin-top: 25px;
}
.p-banner {
    @include text-underline;
}
.footer-banner-1 {
    background: url("../../assets/img/imgHomePage/banner_h1_1.jpg");
    @include img-banner;
    @include display-img-banner;
}

.footer-banner-2 {
    background: url("../../assets/img/imgHomePage/banner_h1_2.jpg");
    @include img-banner;
    @include display-img-banner;
    align-items: center;
}

.footer-banner-3 {
    background: url("../../assets/img/imgHomePage/banner_h1_3.jpg");
    @include img-banner;
    @include display-img-banner;
    align-items: flex-end;
}

#banner-text-left {
    @include display-img-banner;
    @include size-img-banner;
    padding: $padding-img-banner; 
    align-items: flex-end;

    h2 {
        font-size: $size-h2;
        text-align: end;
        
    }

}
#banner-text-middle {
    @include display-img-banner;
    @include size-img-banner;
    padding: $padding-img-banner;
    align-items: center;
    color: white;

    p{
        color:#fff!important;
        border-color: #fff;
    }

    h2 {
        text-align: center;
        font-size: $size-h2;
    }
}
#banner-text-right {
    @include display-img-banner;
    @include size-img-banner;
    align-items: flex-end;
    padding: $padding-img-banner;
    
    h2 {
        text-align: end;
        font-size: $size-h2;

        hr{
            display:none;
        }
    }
}

// MEDIAQUERIES

@media screen and (max-width:990px) {

    .line-banner{
        @include line;
        top: 600px;
    }
    .line-banner-footer{
        @include line;
    }
}

@media screen and(max-width:780px) {
    .banner-home {
        background: url("../../assets/img/imgHomePage/sl3-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top 20px;
        width: auto;
        height: 600px;
        position: relative;
    }

    .right-banner {
        display: none!important;
    }

    .line-banner {
        top: 500px;
    }

}

@media screen and(max-width:550px) {

    .banner-home {
        background: url("../../assets/img/imgHomePage/sl3-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top 20px;
        width: auto;
        height: 500px!important;
        position: relative;
    }
    .banner-row {
        display: flex!important;
        flex-wrap: wrap-reverse!important;
        align-items: center;
        height: 420px!important;
    
        h1{
            width: 300px;
            font-size: 50px;
        }
    }
    .content-middle {
        height: 250px!important;
        width: auto !important;
        margin: auto;
        margin-bottom: 20px!important;
        display: flex;
        justify-content: flex-end;
        .content-banner {
            display: flex;
            height: 280px!important;
            width: auto!important;
        }
    }

    .right-banner{
        display: none!important;
    }

    .line-banner,
    .line-banner-footer{
        display: none!important;
    }

    .footer-banner,
    .footer-image {
        padding:0!important;
        margin:0!important;
    }

    #banner-text-left {
        align-items: flex-start!important;

        h2{
            text-align: start;
        }
    }

    .footer-banner h2{
        margin-top: 10px;
    }
}